body {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#mainTemplate {
	width: 987px;
	height: 700px;
	background-color: #e67e22;
}

#logo {
	width: 150px;
	float: left;
	margin: 5px 0 0 5px;
}

#logo img {
	width: 100%;
	margin: 5px 0 0 5px;
}

#context {
	padding: 40px 0 0 230px;
	font-size: 16px;
}

#question {
	margin: 50px 0;
	font-family: 'Lobster', cursive;
	font-size: 65px;
	text-align: center;
}

.QRCode {
	margin-left: 35px;
	width: 200px;
	float: left;
	text-align: center;
}

.QRCode p {
	font-size: 30px;
	font-family: 'Lobster', cursive;
}

#instruction {
	width: 957px;
	height: 93px;
	margin: 330px 0 0 10px;
	background-image: url(../images/template1/img/contour.png);
	background-position: 0 11px;
	background-repeat: no-repeat;
}

#instruction h2 {
	font-size: 16px;
	margin: 0;
	padding: 0 0 0 31px;
}

#instruction p {
	margin: 0;
	padding: 12px 0 0 8px;
}

#mention {
	padding:30px 0 0 10px;
}